<!--Defining the model-->
@model PianoCourse

<!--Defining the vie data-->

@{
    ViewData["Title"] = "Courses Details";
}

<!--main code-->
<div class="row">

    
        <div class="col-md-8 offset-2">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Name
                                    
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@Model.ImageURL" alt="@Model.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">@Model.Description
                            <p class="card-text"><b>Level: </b>@Model.Level</p>
                            <p class="card-text">
                                <b>Category: </b>@Model.CourseCategory
                            </p>
                            <p class="card-text">
                                <b>Authors: </b>
                                <hr />
                                <div class="row">                             
                                    @foreach (var author in Model.Authors_Courses)
                                    {
                                        <div class="column text-center">
                                            <img class="border-info rounded-circle" src="@author.Author.ProfilePictureURL" style="max-width: 100px" />
                                            <br />
                                            <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.AuthorId">@author.Author.FullName</a>
                                        </div>
                                    }

                                </div>
                            </p>


                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Index">
                                    Back To Courses
                                </a>
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>